<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:24.8px;color:rgb(45,45,45);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:24.8px;color:rgb(45,45,45);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:12.0px;color:rgb(62,0,151);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.0px;color:rgb(62,0,151);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:8.0px;color:rgb(45,45,45);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:8.0px;color:rgb(45,45,45);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:17.3px;color:rgb(62,0,151);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:17.3px;color:rgb(62,0,151);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:10.0px;color:rgb(102,102,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:10.0px;color:rgb(102,102,102);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:10.0px;color:rgb(45,45,45);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:10.0px;color:rgb(45,45,45);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:10.0px;color:rgb(62,0,151);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:10.0px;color:rgb(62,0,151);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:12.0px;color:rgb(45,45,45);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:12.0px;color:rgb(45,45,45);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:10.0px;color:rgb(209,209,209);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:10.0px;color:rgb(209,209,209);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:10.0px;color:rgb(62,0,151);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:10.0px;color:rgb(62,0,151);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:9.0px;color:rgb(102,102,102);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:9.0px;color:rgb(102,102,102);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="85533256-5a7b-11ea-8b25-0cc47a792c0a_id_85533256-5a7b-11ea-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-240px;top:0px;width:481px;height:1377px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="background1.jpg" width=481 height=1377></div>
<div style="position:absolute;left:28.35px;top:57.64px" class="cls_002"><span class="cls_002">JORYAN SENNESAEL</span></div>
<div style="position:absolute;left:28.35px;top:90.40px" class="cls_003"><span class="cls_003">Student and DIY enthusiast</span></div>
<div style="position:absolute;left:28.35px;top:109.83px" class="cls_004"><span class="cls_004">05/10/1995 Sint-Niklaas</span></div>
<div style="position:absolute;left:28.35px;top:164.21px" class="cls_005"><span class="cls_005">SUMMARY</span></div>
<div style="position:absolute;left:260.79px;top:164.21px" class="cls_005"><span class="cls_005">STRENGTHS</span></div>
<div style="position:absolute;left:28.35px;top:196.30px" class="cls_006"><span class="cls_006">As an computer, electronics and DIY enthu-</span></div>
<div style="position:absolute;left:266.03px;top:196.30px" class="cls_006"><span class="cls_006">Passionate</span></div>
<div style="position:absolute;left:328.32px;top:196.30px" class="cls_006"><span class="cls_006">Hard-working</span></div>
<div style="position:absolute;left:404.25px;top:196.30px" class="cls_006"><span class="cls_006">Teaching</span></div>
<div style="position:absolute;left:28.35px;top:208.26px" class="cls_006"><span class="cls_006">siast, I have plenty of experience in build-</span></div>
<div style="position:absolute;left:266.03px;top:214.10px" class="cls_006"><span class="cls_006">Autodidactic</span></div>
<div style="position:absolute;left:336.97px;top:214.10px" class="cls_006"><span class="cls_006">Motivator & Leader</span></div>
<div style="position:absolute;left:28.35px;top:220.21px" class="cls_006"><span class="cls_006">ing projects from scratch. I am passionate</span></div>
<div style="position:absolute;left:28.35px;top:232.17px" class="cls_006"><span class="cls_006">about electronics and many other engineer-</span></div>
<div style="position:absolute;left:266.03px;top:231.89px" class="cls_006"><span class="cls_006">Decision making</span></div>
<div style="position:absolute;left:353.34px;top:231.89px" class="cls_006"><span class="cls_006">Programming</span></div>
<div style="position:absolute;left:28.35px;top:244.12px" class="cls_006"><span class="cls_006">ing  elds.</span></div>
<div style="position:absolute;left:266.03px;top:249.69px" class="cls_006"><span class="cls_006">Circuit design</span></div>
<div style="position:absolute;left:341.20px;top:249.69px" class="cls_006"><span class="cls_006">Project management</span></div>
<div style="position:absolute;left:260.79px;top:273.15px" class="cls_005"><span class="cls_005">LANGUAGES</span></div>
<div style="position:absolute;left:28.35px;top:280.27px" class="cls_005"><span class="cls_005">EXPERIENCE</span></div>
<div style="position:absolute;left:260.79px;top:305.24px" class="cls_007"><span class="cls_007">Dutch</span></div>
<div style="position:absolute;left:400.65px;top:305.24px" class="cls_008"><span class="cls_008">○○○○○</span></div>
<div style="position:absolute;left:28.35px;top:312.36px" class="cls_009"><span class="cls_009">Student Job: Electrician</span></div>
<div style="position:absolute;left:260.79px;top:317.20px" class="cls_007"><span class="cls_007">English</span></div>
<div style="position:absolute;left:400.65px;top:317.20px" class="cls_008"><span class="cls_008">○○○○</span><span class="cls_010">○</span></div>
<div style="position:absolute;left:28.35px;top:329.30px" class="cls_012"><span class="cls_012">Van den Broeck elektro</span></div>
<div style="position:absolute;left:260.79px;top:329.15px" class="cls_007"><span class="cls_007">French</span></div>
<div style="position:absolute;left:400.65px;top:329.15px" class="cls_008"><span class="cls_008">○○</span><span class="cls_010">○○○</span></div>
<div style="position:absolute;left:41.15px;top:345.24px" class="cls_011"><span class="cls_011">Sep 2016 - Oct 2016 ½ Antwerpen</span></div>
<div style="position:absolute;left:260.79px;top:348.07px" class="cls_005"><span class="cls_005">EDUCATION</span></div>
<div style="position:absolute;left:28.35px;top:362.18px" class="cls_011"><span class="cls_011">• Installation of a sound system for a large dia-</span></div>
<div style="position:absolute;left:37.44px;top:373.14px" class="cls_011"><span class="cls_011">mond trading center.</span></div>
<div style="position:absolute;left:260.79px;top:380.16px" class="cls_009"><span class="cls_009">B.S. in Electronics and ICT</span></div>
<div style="position:absolute;left:260.79px;top:394.11px" class="cls_009"><span class="cls_009">Engineering Technology (cum laude)</span></div>
<div style="position:absolute;left:28.35px;top:404.77px" class="cls_009"><span class="cls_009">Student Job: Electrician</span></div>
<div style="position:absolute;left:260.79px;top:411.05px" class="cls_012"><span class="cls_012">Ghent University</span></div>
<div style="position:absolute;left:28.35px;top:421.70px" class="cls_012"><span class="cls_012">Vanderauweraer elektro</span></div>
<div style="position:absolute;left:273.59px;top:426.99px" class="cls_011"><span class="cls_011">Sep 2016 - Jul 2019 ½ Ghent</span></div>
<div style="position:absolute;left:41.15px;top:437.64px" class="cls_011"><span class="cls_011">oct 2014 - sep 2016 ½ Schilde</span></div>
<div style="position:absolute;left:260.79px;top:443.92px" class="cls_009"><span class="cls_009">IN PROGRESS - M.S. in ICT</span></div>
<div style="position:absolute;left:28.35px;top:454.58px" class="cls_011"><span class="cls_011">• Any basic electricity work in houses and apart-</span></div>
<div style="position:absolute;left:260.79px;top:457.87px" class="cls_009"><span class="cls_009">Engineering Technology (Major Im-</span></div>
<div style="position:absolute;left:37.44px;top:465.54px" class="cls_011"><span class="cls_011">ments.</span></div>
<div style="position:absolute;left:260.79px;top:471.82px" class="cls_009"><span class="cls_009">age Technology)</span></div>
<div style="position:absolute;left:260.79px;top:488.75px" class="cls_012"><span class="cls_012">Ghent University</span></div>
<div style="position:absolute;left:28.35px;top:497.17px" class="cls_009"><span class="cls_009">Internship: Calibration lab</span></div>
<div style="position:absolute;left:273.59px;top:504.69px" class="cls_011"><span class="cls_011">Sep 2018 - Jul 2020 ½ Ghent</span></div>
<div style="position:absolute;left:28.35px;top:514.11px" class="cls_012"><span class="cls_012">Niko</span></div>
<div style="position:absolute;left:260.79px;top:521.63px" class="cls_009"><span class="cls_009">Industrial Sciences</span></div>
<div style="position:absolute;left:41.15px;top:530.05px" class="cls_011"><span class="cls_011">Mar 2014 - Apr 2014½ Sint-Niklaas</span></div>
<div style="position:absolute;left:260.79px;top:538.57px" class="cls_012"><span class="cls_012">Provinciaal Technisch Instituut</span></div>
<div style="position:absolute;left:28.35px;top:546.98px" class="cls_011"><span class="cls_011">• My role was ensuring all measuring and qual-</span></div>
<div style="position:absolute;left:260.79px;top:550.52px" class="cls_012"><span class="cls_012">(High school)</span></div>
<div style="position:absolute;left:37.44px;top:557.94px" class="cls_011"><span class="cls_011">ity control equipment in the factory met the</span></div>
<div style="position:absolute;left:37.44px;top:568.90px" class="cls_011"><span class="cls_011">required standards.</span></div>
<div style="position:absolute;left:273.59px;top:566.46px" class="cls_011"><span class="cls_011">Sep 2011 - Jun 2014½ Hamme</span></div>
<div style="position:absolute;left:260.79px;top:583.40px" class="cls_009"><span class="cls_009">Industrial Sciences</span></div>
<div style="position:absolute;left:260.79px;top:600.34px" class="cls_012"><span class="cls_012">Edugo campus Glorieux</span></div>
<div style="position:absolute;left:28.35px;top:600.53px" class="cls_009"><span class="cls_009">Student Job: Shop assistant and cashier</span></div>
<div style="position:absolute;left:260.79px;top:612.29px" class="cls_012"><span class="cls_012">(High school)</span></div>
<div style="position:absolute;left:28.35px;top:617.47px" class="cls_012"><span class="cls_012">Smatch supermarket</span></div>
<div style="position:absolute;left:273.59px;top:628.23px" class="cls_011"><span class="cls_011">Sep 2007 - Jun 2011½ Oostakker</span></div>
<div style="position:absolute;left:41.15px;top:633.41px" class="cls_011"><span class="cls_011">Aug 2014 - Sep 2014½ Waasmunster</span></div>
<div style="position:absolute;left:28.35px;top:650.35px" class="cls_011"><span class="cls_011">• Baking breads, stocking shelves, cashier.</span></div>
<div style="position:absolute;left:260.79px;top:652.96px" class="cls_005"><span class="cls_005">SKILLS</span></div>
<div style="position:absolute;left:28.35px;top:681.98px" class="cls_009"><span class="cls_009">Student Job: Waiter</span></div>
<div style="position:absolute;left:260.79px;top:685.06px" class="cls_007"><span class="cls_007">Eagle PCB design</span></div>
<div style="position:absolute;left:400.65px;top:685.06px" class="cls_008"><span class="cls_008">○○○○○</span></div>
<div style="position:absolute;left:28.35px;top:698.91px" class="cls_012"><span class="cls_012">Brasserie Point De Vue</span></div>
<div style="position:absolute;left:260.79px;top:697.01px" class="cls_007"><span class="cls_007">Microcontrollers</span></div>
<div style="position:absolute;left:400.65px;top:697.01px" class="cls_008"><span class="cls_008">○○○○</span><span class="cls_010">○</span></div>
<div style="position:absolute;left:260.79px;top:708.97px" class="cls_007"><span class="cls_007">DSP and Image processing</span></div>
<div style="position:absolute;left:400.65px;top:708.97px" class="cls_008"><span class="cls_008">○○○○</span><span class="cls_010">○</span></div>
<div style="position:absolute;left:41.15px;top:714.85px" class="cls_011"><span class="cls_011">Apr 2014 - May 2014½ Knokke-Heist</span></div>
<div style="position:absolute;left:260.79px;top:720.92px" class="cls_007"><span class="cls_007">Python</span></div>
<div style="position:absolute;left:400.65px;top:720.92px" class="cls_008"><span class="cls_008">○○○○○</span></div>
<div style="position:absolute;left:28.35px;top:731.79px" class="cls_011"><span class="cls_011">• Serving dishes, cleaning and setting tables.</span></div>
<div style="position:absolute;left:260.79px;top:732.88px" class="cls_007"><span class="cls_007">Java</span></div>
<div style="position:absolute;left:400.65px;top:732.88px" class="cls_008"><span class="cls_008">○○○○○</span></div>
<div style="position:absolute;left:28.35px;top:745.49px" class="cls_011"><span class="cls_011">• Keeping the customers & everything up to the</span></div>
<div style="position:absolute;left:260.79px;top:744.83px" class="cls_007"><span class="cls_007">C#, C & C++</span></div>
<div style="position:absolute;left:400.65px;top:744.83px" class="cls_008"><span class="cls_008">○○○○</span><span class="cls_010">○</span></div>
<div style="position:absolute;left:37.44px;top:756.45px" class="cls_011"><span class="cls_011">standards.</span></div>
<div style="position:absolute;left:260.79px;top:756.79px" class="cls_007"><span class="cls_007">HTML & CSS</span></div>
<div style="position:absolute;left:400.65px;top:756.79px" class="cls_008"><span class="cls_008">○○○○</span><span class="cls_010">○</span></div>
<div style="position:absolute;left:28.35px;top:770.15px" class="cls_011"><span class="cls_011">• Receiving orders from suppliers and keeping the</span></div>
<div style="position:absolute;left:260.79px;top:768.74px" class="cls_007"><span class="cls_007">Javascript, PHP & SQL</span></div>
<div style="position:absolute;left:400.65px;top:768.74px" class="cls_008"><span class="cls_008">○○○</span><span class="cls_010">○○</span></div>
<div style="position:absolute;left:37.44px;top:781.11px" class="cls_011"><span class="cls_011">fridges stocked with drinks.</span></div>
<div style="position:absolute;left:260.79px;top:780.70px" class="cls_007"><span class="cls_007">CNC programming & control</span></div>
<div style="position:absolute;left:400.65px;top:780.70px" class="cls_008"><span class="cls_008">○○○○</span><span class="cls_010">○</span></div>
<div style="position:absolute;left:260.79px;top:792.65px" class="cls_007"><span class="cls_007">CAD</span></div>
<div style="position:absolute;left:400.65px;top:792.65px" class="cls_008"><span class="cls_008">○○○○</span><span class="cls_010">○</span></div>
<div style="position:absolute;left:260.79px;top:804.61px" class="cls_007"><span class="cls_007">LaTeX</span></div>
<div style="position:absolute;left:400.65px;top:804.61px" class="cls_008"><span class="cls_008">○○○○○</span></div>
<div style="position:absolute;left:28.35px;top:812.74px" class="cls_009"><span class="cls_009">Student Job: Warehouse manager</span></div>
<div style="position:absolute;left:260.79px;top:816.56px" class="cls_007"><span class="cls_007">Microsoft O  ce</span></div>
<div style="position:absolute;left:400.65px;top:816.56px" class="cls_008"><span class="cls_008">○○○○○</span></div>
<div style="position:absolute;left:28.35px;top:829.67px" class="cls_012"><span class="cls_012">Wim ijs</span></div>
<div style="position:absolute;left:41.15px;top:845.61px" class="cls_011"><span class="cls_011">Jan 2010 - Sep 2012 ½ Belsele</span></div>
<div style="position:absolute;left:28.35px;top:862.55px" class="cls_011"><span class="cls_011">• Stocking and cleaning over 20 ice cream trucks,</span></div>
<div style="position:absolute;left:37.44px;top:873.51px" class="cls_011"><span class="cls_011">receiving orders from suppliers.</span></div>
<div style="position:absolute;left:28.35px;top:887.21px" class="cls_011"><span class="cls_011">• Making large batches of whipped cream.</span></div>
<div style="position:absolute;left:260.79px;top:925.10px" class="cls_005"><span class="cls_005">MASTER THESIS</span></div>
<div style="position:absolute;left:28.35px;top:925.10px" class="cls_005"><span class="cls_005">EXTRA-CURRICULAR AC-</span></div>
<div style="position:absolute;left:28.35px;top:938.75px" class="cls_005"><span class="cls_005">TIVITIES</span></div>
<div style="position:absolute;left:260.79px;top:957.19px" class="cls_009"><span class="cls_009">LLC with digital control &</span></div>
<div style="position:absolute;left:28.35px;top:970.84px" class="cls_009"><span class="cls_009">ICT Preases</span></div>
<div style="position:absolute;left:260.79px;top:971.14px" class="cls_009"><span class="cls_009">synchronous recti  cation</span></div>
<div style="position:absolute;left:28.35px;top:987.78px" class="cls_012"><span class="cls_012">UGent Home fabiola</span></div>
<div style="position:absolute;left:260.79px;top:988.08px" class="cls_012"><span class="cls_012">Thales Alenia Space & Ghent University</span></div>
<div style="position:absolute;left:41.15px;top:1003.72px" class="cls_011"><span class="cls_011">Sep 2017 - Sep 2018 ½ Ghent</span></div>
<div style="position:absolute;left:273.59px;top:1004.02px" class="cls_011"><span class="cls_011">Sep 2019 - Jul 2020 ½ Leuven & Ghent</span></div>
<div style="position:absolute;left:28.35px;top:1020.66px" class="cls_011"><span class="cls_011">• Helping out residents with any type of com-</span></div>
<div style="position:absolute;left:260.79px;top:1020.95px" class="cls_006"><span class="cls_006">The LLC converter is a DC/DC topology</span></div>
<div style="position:absolute;left:37.44px;top:1031.62px" class="cls_011"><span class="cls_011">puter and ICT related issues.</span></div>
<div style="position:absolute;left:260.79px;top:1032.91px" class="cls_006"><span class="cls_006">widely used in the industry but not yet in</span></div>
<div style="position:absolute;left:28.35px;top:1045.31px" class="cls_011"><span class="cls_011">• Partly responsible for organising events, making</span></div>
<div style="position:absolute;left:260.79px;top:1044.87px" class="cls_006"><span class="cls_006">space applications. The topology is usually</span></div>
<div style="position:absolute;left:37.44px;top:1056.27px" class="cls_011"><span class="cls_011">posters etc.</span></div>
<div style="position:absolute;left:260.79px;top:1056.82px" class="cls_006"><span class="cls_006">chosen for its high e  ciency but the control</span></div>
<div style="position:absolute;left:28.35px;top:1069.97px" class="cls_011"><span class="cls_011">• Creation and maintenance of the website.</span></div>
<div style="position:absolute;left:260.79px;top:1068.78px" class="cls_006"><span class="cls_006">of it is not obvious.</span></div>
<div style="position:absolute;left:260.79px;top:1080.73px" class="cls_006"><span class="cls_006">The objective is to study the way to control</span></div>
<div style="position:absolute;left:260.79px;top:1092.69px" class="cls_006"><span class="cls_006">the converter using the MSP430 microcon-</span></div>
<div style="position:absolute;left:260.79px;top:1104.64px" class="cls_006"><span class="cls_006">troller.</span></div>
<div style="position:absolute;left:28.35px;top:1107.86px" class="cls_005"><span class="cls_005">HOBBIES</span></div>
<div style="position:absolute;left:28.35px;top:1139.96px" class="cls_006"><span class="cls_006">I have a lot of projects that I work on in my</span></div>
<div style="position:absolute;left:260.79px;top:1141.67px" class="cls_005"><span class="cls_005">DRIVER’S LICENSE</span></div>
<div style="position:absolute;left:28.35px;top:1151.91px" class="cls_006"><span class="cls_006">free time. There is much variety such as a</span></div>
<div style="position:absolute;left:28.35px;top:1163.87px" class="cls_006"><span class="cls_006">laser CNC, instruments, ampli  ers, sound</span></div>
<div style="position:absolute;left:28.35px;top:1175.82px" class="cls_006"><span class="cls_006">e ects, custom game/MIDI controllers and</span></div>
<div style="position:absolute;left:260.79px;top:1173.76px" class="cls_006"><span class="cls_006">Acquired in 2014. This includes normal cars</span></div>
<div style="position:absolute;left:28.35px;top:1187.78px" class="cls_006"><span class="cls_006">much more.</span></div>
<div style="position:absolute;left:260.79px;top:1185.72px" class="cls_006"><span class="cls_006">(B) and scooters up to 50cc (Ab).</span></div>
<div style="position:absolute;left:28.35px;top:1199.73px" class="cls_006"><span class="cls_006">I also like teaching people, making music and</span></div>
<div style="position:absolute;left:28.35px;top:1211.69px" class="cls_006"><span class="cls_006">model building.</span></div>
<div style="position:absolute;left:28.35px;top:1223.64px" class="cls_006"><span class="cls_006">Additionally I am an amateur brewer (beer,</span></div>
<div style="position:absolute;left:28.35px;top:1235.60px" class="cls_006"><span class="cls_006">mead and wine).</span></div>
</div>

</body>
</html>
