<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include joryan_cv.html %}
      </section>
        {{ content }}
    <div style="position:absolute;left:50%;margin-left:-240px;width:481px;height:1377px;>
<div style="position:absolute;left:0px">
  <img src="background1.jpg" width=481 height=1377></div></div>
      {% include footer.html %}
  </body>
</html>
