<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
    
      <section id="about">
        <p align="center"><iframe src="/assets/joryan_cv.html"  width = "100%" height = "1450">Sorry your browser does not support inline frames.</iframe></p>
      </section>
    <embed src="/assets/jsennesael_cv.pdf" type="application/pdf" width="100%" height="600px" />

        {{ content }} 
      {% include footer.html %}
  </body>
</html>
