<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        <p align="center"><img src="ed.jpg" alt="HTML5 Icon" width=100% class="center"></p>
        <p align="center"><img src="video.gif" alt="HTML5 Icon" width=90% class="center"></p>
        <br>
        <br>
        You can also check out a Data Analysis project by clicking <a target="_blank" href="https://senneschal.github.io/datastory/">here</a>. <br>
        Note: the DataStory includes a lot of interactive plots so it may take a minute to load.
        <br>
        <br>
        <p align="center"><img src="thesis.png" alt="HTML5 Icon" width=100% class="center"></p>
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
</html>
